.team-section {
    background: #E7EDF6;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}

.team-cards {
    padding: 45px 0px;
    margin: 0 10%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));

    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .team-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.president-card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* flex: 1; */
    flex-basis: 100%;

    margin: 10px 10px;
}

@media only screen and (max-width: 600px) {
    .president-card {
        flex-basis: unset;
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .president-card {
        width: 50%;
    }
}

.card-image {
    height: 340px;
    width: 100%;
    background-image: url('../Resources/test-team.jpg');
    background-repeat: no-repeat;
    background-position-y: 5%;
    background-size: cover;
}

@media only screen and (max-width: 1300px) {
    .card-image {
        height: 280px;
    } 
}

@media only screen and (max-width: 1000px) {
    .card-image {
        height: 220px;
    } 
}

@media only screen and (max-width: 800px) {
    .card-image {
        height: 180px;
    } 
}

@media only screen and (max-width: 650px) {
    .card-image {
        height: 150px;
    } 
}

@media only screen and (max-width: 400px) {
    .card-image {
        height: 130px;
    } 
}

/* .president-card .card-image {
    flex: 3;
}


.president-card .team-card-details {
    flex: 1;
} */

.team-card-details {
    background: #FFFFFF;
    flex: 1;
}

.team-card-header {
    margin: 20px 20px 5px;
}

.team-card-header span {
    font-family: 'Lato', sans-serif;
    color: #8298AB;
    font-size: .8rem;
}

.team-card-header h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
    color: #304659;
}

.card-quote {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: italic;
    color: #3B5266;

    margin: 0px 20px;
}

.team-card-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px 15px;
}

.team-card-btn a {
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 3, 6, 0.5);
}

.team-card-btn img {
    position: relative;
    width: 4%;
    height: auto;
    top: 2.5px;
    margin-left: 5px;
}

@media only screen and (max-width: 1200px) {
    .team-card-header span {
        font-size: .7rem;
    }

    .team-card-header h3 {
        font-size: 1.1rem;
    }

    .card-quote {
        font-size: .9rem;
    }

    .team-card-btn a {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 990px) {

    .team-card-header {
        margin: 10px 10px 5px;
    }

    .team-card-header span {
        font-size: .6rem;
    }

    .team-card-header h3 {
        font-size: .9rem;
    }

    .card-quote {
        font-size: .8rem;
    }

    .card-quote {
        margin: 0px 10px;
    }

    .team-card-btn a {
        font-size: .9rem;
    }

    .team-card-btn {
        margin: 0px 10px 10px;
    }
}

@media only screen and (max-width: 700px) {

    .team-card-header span {
        font-size: .5rem;
    }

    .team-card-header h3 {
        font-size: .8rem;
    }

    .card-quote {
        font-size: .7rem;
    }


    .team-card-btn a {
        font-size: .7rem;
    }

}

@media only screen and (max-width: 420px) {

    .team-card-header span {
        font-size: .4rem;
    }

    .team-card-header h3 {
        font-size: .7rem;
    }

    .card-quote {
        font-size: .6rem;
    }


    .team-card-btn a {
        font-size: .6rem;
    }

}
